import * as React from 'react'

import { Styled{{pascalCase name}} } from './{{kebabCase name}}.styles'

export interface {{pascalCase name}}Props {}

export function {{pascalCase name}}(props: {{pascalCase name}}Props) {
  const {} = props

  return <div>{{pascalCase name}}</div>
}
